<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/mainPage.css">
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <main>
    <section id="puppySection">
      <% puppies.forEach(puppy => {%>
        <a class="puppy" href="/puppy/<%= puppy.Navn %>">
        <div>
          <img src="<%= puppy.Bildelenke %>" alt="">
          <h2>Navn: <%= puppy.Navn %></h2>
          <p>Bestevenn: <%= puppy.Bestevenn %></p>
          <p>Fødselsdato: <%= puppy.Fødselsdato %></p>
          <p>Power: <%= puppy.Power %></p>
          <p></p>
        </div>
        </a>
      <%}); %>
    </section>
    </main>
    <%- include("./partials/footer.ejs") %>
