<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <main>
    <h1>We are Charlie Kirk</h1>
    <p>
      He stood unshaken, a voice in the storm A man of conviction, a heart
      reborn He spoke the truth when the cost was high He lived for Jesus,
      unafraid to die
    </p>
    <p>
      We are Charlie Kirk — we carry the flame We'll fight for the Gospel, we'll
      honor his name We are Charlie Kirk — his courage our own Together
      unbroken, we'll make Heaven known
    </p>
    <p>
      A husband, a father, his family held near A home built on Scripture, on
      faith without fear The world tried to silence, but his voice remains In us
      it echoes, in Christ it sustains
    </p>
    <p>
      We are Charlie Kirk — we carry the flame We'll fight for the Gospel, we'll
      honor his name We are Charlie Kirk — his courage our own Together
      unbroken, we'll make Heaven known
    </p>
    <p>
      The battle is raging, the darkness will fall We rise with his spirit, we
      answer the call The truth is eternal, the Cross is our guide With God as
      our Captain, we march side by side
    </p>
    <p>
      We are Charlie Kirk — we carry the flame We'll fight for the Gospel, we'll
      honor his name We are Charlie Kirk — his courage our own Together
      unbroken, we'll make Heaven known
    </p>
    <p>
      We are Charlie Kirk Forever alive We are Charlie Kirk With God we will
      rise
    </p>
    </main>
    <section>
      <% puppies.forEach(puppy => {%>
        <a href="/puppy/<%= puppy.Navn %>">
        <div>
          <img src="<%= puppy.Bildelenke %>" alt="">
          <h2>Navn: <%= puppy.Navn %></h2>
          <p>Bestevenn: <%= puppy.Bestevenn %></p>
          <p>Fødselsdato: <%= puppy.Fødselsdato %></p>
          <p>Power: <%= puppy.Power %></p>
          <p></p>
        </div>
        </a>
      <%}); %>
    </section>
  </body>
  <footer></footer>
</html>
